.spinning {
  animation: spin 1s linear infinite;
  height: 32px;
  width: 32px;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
